In [1]:
import pandas as pd
import numpy as np

In [2]:
#Tablexxx, where xxx is a number, refers to quadrilaterals defined by LCRA
#Defining the column headers and importing rainfall data directly from LCRA
#the delimiter changes throughout the table so I made it a space and then skipped rows that did not have data
user_cols = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec', 'Annual']
Table710 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/710/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table710.Jan = Table710.Jan.astype(float)
Table710.Feb = Table710.Feb.astype(float)
Table710.Mar = Table710.Mar.astype(float)
Table710.Apr = Table710.Apr.astype(float)
Table710.May = Table710.May.astype(float)
Table710.Jun = Table710.Jun.astype(float)
Table710.Jul = Table710.Jul.astype(float)
Table710.Aug = Table710.Aug.astype(float)
Table710.Sept = Table710.Sept.astype(float)
Table710.Oct = Table710.Oct.astype(float)
Table710.Nov = Table710.Nov.astype(float)
Table710.Dec = Table710.Dec.astype(float)
Table710.Annual = Table710.Annual.astype(float)

pd.options.mode.chained_assignment = None

#the spacing throughout the table got messed up if a value was 4 digits so I had to manually enter these
Table710.Jun[1]= 10.08
Table710.Jul[1]= 2.16
Table710.Aug[1]= 2.40
Table710.Sept[1]= 3.60
Table710.Oct[1]= 5.69
Table710.Nov[1]= 1.18
Table710.Dec[1]= 0.40
Table710.Annual[1]= 38.44
Table710.Dec[11]= 11.64
Table710.Annual[11]= 51.00
Table710.Oct[18]= 10.45
Table710.Nov[18]= 4.28
Table710.Dec[18]= 1.95
Table710.Annual[18]= 39.00
Table710.Jun[24]= 10.66
Table710.Jul[24]= 1.80
Table710.Aug[24]= 3.48
Table710.Sept[24]= 1.08
Table710.Oct[24]= 6.72
Table710.Nov[24]= 10.01
Table710.Dec[24]= 0.59
Table710.Annual[24]= 51.88
Table710.May[35]= 14.12
Table710.Jun[35]= 4.61
Table710.Jul[35]= 0.44
Table710.Aug[35]= 0.70
Table710.Sept[35]= 1.03
Table710.Oct[35]= 13.03
Table710.Nov[35]= 4.04
Table710.Dec[35]= 2.99
Table710.Annual[35]= 54.89


Table709 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/709/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table709.Jan = Table709.Jan.astype(float)
Table709.Feb = Table709.Feb.astype(float)
Table709.Mar = Table709.Mar.astype(float)
Table709.Apr = Table709.Apr.astype(float)
Table709.May = Table709.May.astype(float)
Table709.Jun = Table709.Jun.astype(float)
Table709.Jul = Table709.Jul.astype(float)
Table709.Aug = Table709.Aug.astype(float)
Table709.Sept = Table709.Sept.astype(float)
Table709.Oct = Table709.Oct.astype(float)
Table709.Nov = Table709.Nov.astype(float)
Table709.Dec = Table709.Dec.astype(float)
Table709.Annual = Table709.Annual.astype(float)

Table709.Jun[1]= 10.33
Table709.Jul[1]= 0.73
Table709.Aug[1]= 2.58
Table709.Sept[1]= 4.01
Table709.Oct[1]= 5.93
Table709.Nov[1]= 1.11
Table709.Dec[1]= 0.20
Table709.Annual[1]= 38.74
Table709.Dec[11]= 11.28
Table709.Annual[11]= 43.25
Table709.Jun[17]= 10.02
Table709.Jul[17]= 0.66
Table709.Aug[17]= 1.10
Table709.Sept[17]= 1.02
Table709.Oct[17]= 2.98
Table709.Nov[17]= 2.72
Table709.Dec[17]= 3.84
Table709.Annual[17]= 43.20
Table709.Jul[22]= 12.41
Table709.Aug[22]= 1.16
Table709.Sept[22]= 3.15
Table709.Oct[22]= 5.51
Table709.Nov[22]= 1.46
Table709.Dec[22]= 3.01
Table709.Annual[22]= 36.43
Table709.May[35]= 12.72
Table709.Jun[35]= 2.95
Table709.Jul[35]= 0.11
Table709.Aug[35]= 0.62
Table709.Sept[35]= 0.59
Table709.Oct[35]= 8.94
Table709.Nov[35]= 4.00
Table709.Dec[35]= 1.99
Table709.Annual[35]= 42.11

Table807 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/807/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table807.Jan = Table807.Jan.astype(float)
Table807.Feb = Table807.Feb.astype(float)
Table807.Mar = Table807.Mar.astype(float)
Table807.Apr = Table807.Apr.astype(float)
Table807.May = Table807.May.astype(float)
Table807.Jun = Table807.Jun.astype(float)
Table807.Jul = Table807.Jul.astype(float)
Table807.Aug = Table807.Aug.astype(float)
Table807.Sept = Table807.Sept.astype(float)
Table807.Oct = Table807.Oct.astype(float)
Table807.Nov = Table807.Nov.astype(float)
Table807.Dec = Table807.Dec.astype(float)
Table807.Annual = Table807.Annual.astype(float)

Table807.Aug[18]= 16.23
Table807.Sept[18]= 1.76
Table807.Oct[18]= 2.85
Table807.Nov[18]= 2.25
Table807.Dec[18]= 0.43
Table807.Annual[18]= 30.43

Table808 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/808/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table808.Jan = Table808.Jan.astype(float)
Table808.Feb = Table808.Feb.astype(float)
Table808.Mar = Table808.Mar.astype(float)
Table808.Apr = Table808.Apr.astype(float)
Table808.May = Table808.May.astype(float)
Table808.Jun = Table808.Jun.astype(float)
Table808.Jul = Table808.Jul.astype(float)
Table808.Aug = Table808.Aug.astype(float)
Table808.Sept = Table808.Sept.astype(float)
Table808.Oct = Table808.Oct.astype(float)
Table808.Nov = Table808.Nov.astype(float)
Table808.Dec = Table808.Dec.astype(float)
Table808.Annual = Table808.Annual.astype(float)

Table808.May[7]= 10.44
Table808.Jun[7]= 9.90
Table808.Jul[7]= 2.00
Table808.Aug[7]= 3.07
Table808.Sept[7]= 1.65
Table808.Oct[7]= 0.23
Table808.Nov[7]= 1.95
Table808.Dec[7]= 1.94
Table808.Annual[7]= 39.12
Table808.Aug[18]= 11.00
Table808.Sept[18]= 1.06
Table808.Oct[18]= 4.94
Table808.Nov[18]= 2.66
Table808.Dec[18]= 0.59
Table808.Annual[18]= 32.27
Table808.Jul[22]= 16.40
Table808.Aug[22]= 0.68
Table808.Sept[22]= 5.70
Table808.Oct[22]= 7.80
Table808.Nov[22]= 0.94
Table808.Dec[22]= 1.47
Table808.Annual[22]= 40.92
Table808.Jul[27]= 10.48
Table808.Aug[27]= 3.53
Table808.Sept[27]= 3.37
Table808.Oct[27]= 0.69
Table808.Nov[27]= 0.51
Table808.Dec[27]= 0.42
Table808.Annual[27]= 45.42
Table808.May[35]= 13.38
Table808.Jun[35]= 4.17
Table808.Jul[35]= 0.59
Table808.Aug[35]= 1.22
Table808.Sept[35]= 0.37
Table808.Oct[35]= 7.17
Table808.Nov[35]= 4.27
Table808.Dec[35]= 1.47
Table808.Annual[35]= 42.87

Table809 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/809/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table809.Jan = Table809.Jan.astype(float)
Table809.Feb = Table809.Feb.astype(float)
Table809.Mar = Table809.Mar.astype(float)
Table809.Apr = Table809.Apr.astype(float)
Table809.May = Table809.May.astype(float)
Table809.Jun = Table809.Jun.astype(float)
Table809.Jul = Table809.Jul.astype(float)
Table809.Aug = Table809.Aug.astype(float)
Table809.Sept = Table809.Sept.astype(float)
Table809.Oct = Table809.Oct.astype(float)
Table809.Nov = Table809.Nov.astype(float)
Table809.Dec = Table809.Dec.astype(float)
Table809.Annual = Table809.Annual.astype(float)

Table809.Dec[11]= 13.35
Table809.Annual[11]= 45.72
Table809.Jun[17]= 10.63
Table809.Jul[17]= 0.45
Table809.Aug[17]= 1.41
Table809.Sept[17]= 1.18
Table809.Oct[17]= 4.59
Table809.Nov[17]= 2.14
Table809.Dec[17]= 2.87
Table809.Annual[17]= 40.64
Table809.Oct[18]= 12.39
Table809.Nov[18]= 3.58
Table809.Dec[18]= 0.71
Table809.Annual[18]= 39.83
Table809.Jul[22]= 15.03
Table809.Aug[22]= 1.02
Table809.Sept[22]= 6.89
Table809.Oct[22]= 8.44
Table809.Nov[22]= 2.41
Table809.Dec[22]= 3.41
Table809.Annual[22]= 45.64
Table809.Jun[24]= 10.23
Table809.Jul[24]= 1.46
Table809.Aug[24]= 3.05
Table809.Sept[24]= 1.99
Table809.Oct[24]= 6.13
Table809.Nov[24]= 9.69
Table809.Dec[24]= 0.15
Table809.Annual[24]= 49.51
Table809.Jul[27]= 12.11
Table809.Aug[27]= 6.21
Table809.Sept[27]= 2.43
Table809.Oct[27]= 0.85
Table809.Nov[27]= 0.84
Table809.Dec[27]= 0.38
Table809.Annual[27]= 51.82
Table809.May[35]= 11.75
Table809.Jun[35]= 4.38
Table809.Jul[35]= 0.52
Table809.Aug[35]= 0.78
Table809.Sept[35]= 0.88
Table809.Oct[35]= 8.74
Table809.Nov[35]= 3.18
Table809.Dec[35]= 1.54
Table809.Annual[35]= 46.01

Table810 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/810/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table810.Jan = Table810.Jan.astype(float)
Table810.Feb = Table810.Feb.astype(float)
Table810.Mar = Table810.Mar.astype(float)
Table810.Apr = Table810.Apr.astype(float)
Table810.May = Table810.May.astype(float)
Table810.Jun = Table810.Jun.astype(float)
Table810.Jul = Table810.Jul.astype(float)
Table810.Aug = Table810.Aug.astype(float)
Table810.Sept = Table810.Sept.astype(float)
Table810.Oct = Table810.Oct.astype(float)
Table810.Nov = Table810.Nov.astype(float)
Table810.Dec = Table810.Dec.astype(float)
Table810.Annual = Table810.Annual.astype(float)

Table810.Jun[7]= 13.36
Table810.Jul[7]= 2.00
Table810.Aug[7]= 1.64
Table810.Sept[7]= 2.85
Table810.Oct[7]= 0.60
Table810.Nov[7]= 3.92
Table810.Dec[7]= 2.93
Table810.Annual[7]= 42.94
Table810.Dec[11]= 10.98
Table810.Annual[11]= 49.30
Table810.Oct[14]= 10.01
Table810.Nov[14]= 0.71
Table810.Dec[14]= 5.11
Table810.Annual[14]= 41.44
Table810.Oct[18]= 15.41
Table810.Nov[18]= 5.43
Table810.Dec[18]= 1.95
Table810.Annual[18]= 49.03
Table810.Jun[24]= 10.09
Table810.Jul[24]= 2.09
Table810.Aug[24]= 2.06
Table810.Sept[24]= 2.12
Table810.Oct[24]= 6.92
Table810.Nov[24]= 9.94
Table810.Dec[24]= 0.27
Table810.Annual[24]= 50.24
Table810.Jul[27]= 11.18
Table810.Aug[27]= 2.87
Table810.Sept[27]= 1.49
Table810.Oct[27]= 1.55
Table810.Nov[27]= 2.98
Table810.Dec[27]= 0.60
Table810.Annual[27]= 46.86
Table810.May[35]= 10.57
Table810.Jun[35]= 4.48
Table810.Jul[35]= 0.56
Table810.Aug[35]= 0.91
Table810.Sept[35]= 1.40
Table810.Oct[35]= 8.31
Table810.Nov[35]= 2.74
Table810.Dec[35]= 2.37
Table810.Annual[35]= 48.90

Table908 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/908/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table908.Jan = Table908.Jan.astype(float)
Table908.Feb = Table908.Feb.astype(float)
Table908.Mar = Table908.Mar.astype(float)
Table908.Apr = Table908.Apr.astype(float)
Table908.May = Table908.May.astype(float)
Table908.Jun = Table908.Jun.astype(float)
Table908.Jul = Table908.Jul.astype(float)
Table908.Aug = Table908.Aug.astype(float)
Table908.Sept = Table908.Sept.astype(float)
Table908.Oct = Table908.Oct.astype(float)
Table908.Nov = Table908.Nov.astype(float)
Table908.Dec = Table908.Dec.astype(float)
Table908.Annual = Table908.Annual.astype(float)

Winter709 = []
Winter710 = []
Winter807 = []
Winter808 = []
Winter809 = []
Winter810 = []
Winter908 = []

Spring709 = []
Spring710 = []
Spring807 = []
Spring808 = []
Spring809 = []
Spring810 = []
Spring908 = []

Summer709 = []
Summer710 = []
Summer807 = []
Summer808 = []
Summer809 = []
Summer810 = []
Summer908 = []

Fall709 = []
Fall710 = []
Fall807 = []
Fall808 = []
Fall809 = []
Fall810 = []
Fall908 = []

WinterAvg = []
SpringAvg = []
SummerAvg = []
FallAvg = []

#Combines the months into seasons from the Tables
for i in range(1,37):
    a = Table709.Mar[i] + Table709.Apr[i] + Table709.May[i]
    b = Table710.Mar[i] + Table710.Apr[i] + Table710.May[i]
    c = Table807.Mar[i] + Table807.Apr[i] + Table807.May[i]
    d = Table808.Mar[i] + Table808.Apr[i] + Table808.May[i]
    e = Table809.Mar[i] + Table809.Apr[i] + Table809.May[i]
    f = Table810.Mar[i] + Table810.Apr[i] + Table810.May[i]
    g = Table908.Mar[i] + Table908.Apr[i] + Table908.May[i]
    Spring709.insert(i-1,a)
    Spring710.insert(i-1,b)
    Spring807.insert(i-1,c)
    Spring808.insert(i-1,d)
    Spring809.insert(i-1,e)
    Spring810.insert(i-1,f)
    Spring908.insert(i-1,g)
    i = i + 1

for i in range(1,37):
    h = Table709.Jun[i] + Table709.Jul[i] + Table709.Aug[i]
    j = Table710.Jun[i] + Table710.Jul[i] + Table710.Aug[i]
    k = Table807.Jun[i] + Table807.Jul[i] + Table807.Aug[i]
    l = Table808.Jun[i] + Table808.Jul[i] + Table808.Aug[i]
    m = Table809.Jun[i] + Table809.Jul[i] + Table809.Aug[i]
    n = Table810.Jun[i] + Table810.Jul[i] + Table810.Aug[i]
    cc = Table908.Jun[i] + Table908.Jul[i] + Table908.Aug[i]
    Summer709.insert(i-1,h)
    Summer710.insert(i-1,j)
    Summer807.insert(i-1, k)
    Summer808.insert(i-1, l)
    Summer809.insert(i-1, m)
    Summer810.insert(i-1, n)
    Summer908.insert(i-1, cc)
    i = i + 1

for i in range(1,37):
    o = Table709.Sept[i] + Table709.Oct[i] + Table709.Nov[i]
    p = Table710.Sept[i] + Table710.Oct[i] + Table710.Nov[i]
    q = Table807.Sept[i] + Table807.Oct[i] + Table807.Nov[i]
    r = Table808.Sept[i] + Table808.Oct[i] + Table808.Nov[i]
    s = Table809.Sept[i] + Table809.Oct[i] + Table809.Nov[i]
    t = Table810.Sept[i] + Table810.Oct[i] + Table810.Nov[i]
    u = Table908.Sept[i] + Table908.Oct[i] + Table908.Nov[i]
    Fall709.insert(i-1,o)
    Fall710.insert(i-1,p)
    Fall807.insert(i-1,q)
    Fall808.insert(i-1,r)
    Fall809.insert(i-1,s)
    Fall810.insert(i-1,t)
    Fall908.insert(i-1,u)
    i = i + 1

#Uses i-1 since we want Dec. 1980 and 1980 is the first row
for i in range(1,37):    
    v = Table709.Dec[i-1] + Table709.Jan[i] + Table709.Feb[i]
    w = Table710.Dec[i-1] + Table710.Jan[i] + Table710.Feb[i]
    x = Table807.Dec[i-1] + Table807.Jan[i] + Table807.Feb[i]
    y = Table808.Dec[i-1] + Table808.Jan[i] + Table808.Feb[i]
    z = Table809.Dec[i-1] + Table809.Jan[i] + Table809.Feb[i]
    aa = Table810.Dec[i-1] + Table810.Jan[i] + Table810.Feb[i]
    bb = Table908.Dec[i-1] + Table908.Jan[i] + Table908.Feb[i]
    Winter709.insert(i-1,v)
    Winter710.insert(i-1,w)
    Winter807.insert(i-1,x)
    Winter808.insert(i-1,y)
    Winter809.insert(i-1,z)
    Winter810.insert(i-1, aa)
    Winter908.insert(i-1, bb)
    i = i + 1

#Linear addition of the selected polygons and an average is taken to get rainfall for our CWA    
for i in range(0,36):
    wtotal = ((Winter709[i] + Winter710[i] + Winter807[i] + Winter808[i] + Winter809[i] + Winter810[i] + Winter908[i])/7.0)
    sptotal = ((Spring709[i] + Spring710[i] + Spring807[i] + Spring808[i] + Spring809[i] + Spring810[i] + Spring908[i])/7.0)
    sutotal = ((Summer709[i] + Summer710[i] + Summer807[i] + Summer808[i] + Summer809[i] + Summer810[i] + Summer908[i])/7.0)
    ftotal = ((Fall709[i] + Fall710[i] + Fall807[i] + Fall808[i] + Fall809[i] + Fall810[i] + Fall908[i])/7.0)
    WinterAvg.insert(i, wtotal)
    SpringAvg.insert(i, sptotal)
    SummerAvg.insert(i, sutotal)
    FallAvg.insert(i, ftotal)
    i = i + 1

df1 = pd.DataFrame({'Winter': WinterAvg})
df2 = pd.DataFrame({'Spring': SpringAvg})
df3 = pd.DataFrame({'Summer': SummerAvg})
df4 = pd.DataFrame({'Fall': FallAvg})

dftot = pd.concat([df1, df2, df3, df4], axis=1)
dftot.to_csv('LCRA Rainfall Method.csv')

In [3]:
#to get monthly rainfall averages
#starts the lists with a 0 because the only 1980 value that matters is Dec.
Dec = []
Jan = [0]
Feb = [0]
Mar = [0]
Apr = [0]
May = [0]
Jun = [0]
Jul = [0]
Aug = [0]
Sept = [0]
Oct = [0]
Nov = [0]

for i in range(0,37):
    a = ((Table709.Dec[i] + Table710.Dec[i] + Table807.Dec[i] + Table808.Dec[i] + Table809.Dec[i]
          + Table810.Dec[i] + Table908.Dec[i])/7.0)
    Dec.insert(i,a)
    
for i in range(1,37):
    b = ((Table709.Jan[i] + Table710.Jan[i] + Table807.Jan[i] + Table808.Jan[i] + Table809.Jan[i] 
          + Table810.Jan[i] + Table908.Jan[i])/7.0)
    c = ((Table709.Feb[i] + Table710.Feb[i] + Table807.Feb[i] + Table808.Feb[i] + Table809.Feb[i] 
          + Table810.Feb[i] + Table908.Feb[i])/7.0)
    d = ((Table709.Mar[i] + Table710.Mar[i] + Table807.Mar[i] + Table808.Mar[i] + Table809.Mar[i] 
          + Table810.Mar[i] + Table908.Mar[i])/7.0)
    e = ((Table709.Apr[i] + Table710.Apr[i] + Table807.Apr[i] + Table808.Apr[i] + Table809.Apr[i] 
          + Table810.Apr[i] + Table908.Apr[i])/7.0)
    f = ((Table709.May[i] + Table710.May[i] + Table807.May[i] + Table808.May[i] + Table809.May[i] 
          + Table810.May[i] + Table908.May[i])/7.0)
    g = ((Table709.Jun[i] + Table710.Jun[i] + Table807.Jun[i] + Table808.Jun[i] + Table809.Jun[i] 
          + Table810.Jun[i] + Table908.Jun[i])/7.0)
    h = ((Table709.Jul[i] + Table710.Jul[i] + Table807.Jul[i] + Table808.Jul[i] + Table809.Jul[i] 
          + Table810.Jul[i] + Table908.Jul[i])/7.0)
    j = ((Table709.Aug[i] + Table710.Aug[i] + Table807.Aug[i] + Table808.Aug[i] + Table809.Aug[i] 
          + Table810.Aug[i] + Table908.Aug[i])/7.0)
    k = ((Table709.Sept[i] + Table710.Sept[i] + Table807.Sept[i] + Table808.Sept[i] + 
          Table809.Sept[i] + Table810.Sept[i] + Table908.Sept[i])/7.0)
    l = ((Table709.Oct[i] + Table710.Oct[i] + Table807.Oct[i] + Table808.Oct[i] + Table809.Oct[i] 
          + Table810.Oct[i] + Table908.Oct[i])/7.0)
    m = ((Table709.Nov[i] + Table710.Nov[i] + Table807.Nov[i] + Table808.Nov[i] + Table809.Nov[i] 
          + Table810.Nov[i] + Table908.Nov[i])/7.0)
    Jan.insert(i,b)
    Feb.insert(i,c)
    Mar.insert(i,d)
    Apr.insert(i,e)
    May.insert(i,f)
    Jun.insert(i,g)
    Jul.insert(i,h)
    Aug.insert(i,j)
    Sept.insert(i,k)
    Oct.insert(i,l)
    Nov.insert(i,m)

df5 = pd.DataFrame({'Dec.': Dec})
df6 = pd.DataFrame({'Jan.': Jan})
df7 = pd.DataFrame({'Feb.': Feb})
df8 = pd.DataFrame({'Mar.': Mar})
df9 = pd.DataFrame({'Apr.': Apr})
df10 = pd.DataFrame({'May.': May})
df11 = pd.DataFrame({'Jun.': Jun})
df12 = pd.DataFrame({'Jul.': Jul})
df13 = pd.DataFrame({'Aug.': Aug})
df14 = pd.DataFrame({'Sept.': Sept})
df15 = pd.DataFrame({'Oct.': Oct})
df16 = pd.DataFrame({'Nov.': Nov})

dfall = pd.concat([df5, df6, df7, df8, df9, df10, df11, df12,
                  df13, df14, df15, df16], axis=1)

dfall.to_csv('LCRA Monthly Rainfalls.csv')