In [1]:
import pandas as pd

In [2]:
#This script is being used to test if there is a statistically significant difference
#beteeen LCRA quadrangles and Texas Climate Divisions 6 and 7
pd.options.mode.chained_assignment = None


#CD06

#Tablexxx, where xxx is a number, refers to quadrilaterals defined by LCRA
#Defining the column headers and importing rainfall data directly from LCRA
#the delimiter changes throughout the table so I made it a space and then skipped rows that did not have data
user_cols = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec', 'Annual']
user_cols2 = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
Table606 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/606/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table606.Jan = Table606.Jan.astype(float)
Table606.Feb = Table606.Feb.astype(float)
Table606.Mar = Table606.Mar.astype(float)
Table606.Apr = Table606.Apr.astype(float)
Table606.May = Table606.May.astype(float)
Table606.Jun = Table606.Jun.astype(float)
Table606.Jul = Table606.Jul.astype(float)
Table606.Aug = Table606.Aug.astype(float)
Table606.Sept = Table606.Sept.astype(float)
Table606.Oct = Table606.Oct.astype(float)
Table606.Nov = Table606.Nov.astype(float)
Table606.Dec = Table606.Dec.astype(float)
Table606.Annual = Table606.Annual.astype(float)

Table607 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/607/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57],
                     names=user_cols2)

#none of the annual values were being input, so they are ignored
Table607.Jan = Table607.Jan.astype(float)
Table607.Feb = Table607.Feb.astype(float)
Table607.Mar = Table607.Mar.astype(float)
Table607.Apr = Table607.Apr.astype(float)
Table607.May = Table607.May.astype(float)
Table607.Jun = Table607.Jun.astype(float)
Table607.Jul = Table607.Jul.astype(float)
Table607.Aug = Table607.Aug.astype(float)
Table607.Sept = Table607.Sept.astype(float)
Table607.Oct = Table607.Oct.astype(float)
Table607.Nov = Table607.Nov.astype(float)
Table607.Dec = Table607.Dec.astype(float)

Table607.Sept[0]= 11.16
Table607.Oct[0]= 0.21
Table607.Nov[0]= 1.89
Table607.Dec[0]= 1.89

Table706 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/706/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table706.Jan = Table706.Jan.astype(float)
Table706.Feb = Table706.Feb.astype(float)
Table706.Mar = Table706.Mar.astype(float)
Table706.Apr = Table706.Apr.astype(float)
Table706.May = Table706.May.astype(float)
Table706.Jun = Table706.Jun.astype(float)
Table706.Jul = Table706.Jul.astype(float)
Table706.Aug = Table706.Aug.astype(float)
Table706.Sept = Table706.Sept.astype(float)
Table706.Oct = Table706.Oct.astype(float)
Table706.Nov = Table706.Nov.astype(float)
Table706.Dec = Table706.Dec.astype(float)
Table706.Annual = Table706.Annual.astype(float)

Table706.Annual[19]= 9.82
Table706.Annual[31]= 5.21

Table707 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/707/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table707.Jan = Table707.Jan.astype(float)
Table707.Feb = Table707.Feb.astype(float)
Table707.Mar = Table707.Mar.astype(float)
Table707.Apr = Table707.Apr.astype(float)
Table707.May = Table707.May.astype(float)
Table707.Jun = Table707.Jun.astype(float)
Table707.Jul = Table707.Jul.astype(float)
Table707.Aug = Table707.Aug.astype(float)
Table707.Sept = Table707.Sept.astype(float)
Table707.Oct = Table707.Oct.astype(float)
Table707.Nov = Table707.Nov.astype(float)
Table707.Dec = Table707.Dec.astype(float)
Table707.Annual = Table707.Annual.astype(float)

Table707.Aug[18]= 10.81
Table707.Sept[18]= 1.10
Table707.Oct[18]= 1.56
Table707.Nov[18]= 2.25
Table707.Dec[18]= 0.61
Table707.Annual[18]= 24.81
Table707.Annual[31]= 8.76

Table708 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/708/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table708.Jan = Table708.Jan.astype(float)
Table708.Feb = Table708.Feb.astype(float)
Table708.Mar = Table708.Mar.astype(float)
Table708.Apr = Table708.Apr.astype(float)
Table708.May = Table708.May.astype(float)
Table708.Jun = Table708.Jun.astype(float)
Table708.Jul = Table708.Jul.astype(float)
Table708.Aug = Table708.Aug.astype(float)
Table708.Sept = Table708.Sept.astype(float)
Table708.Oct = Table708.Oct.astype(float)
Table708.Nov = Table708.Nov.astype(float)
Table708.Dec = Table708.Dec.astype(float)
Table708.Annual = Table708.Annual.astype(float)

Table709 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/709/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table709.Jan = Table709.Jan.astype(float)
Table709.Feb = Table709.Feb.astype(float)
Table709.Mar = Table709.Mar.astype(float)
Table709.Apr = Table709.Apr.astype(float)
Table709.May = Table709.May.astype(float)
Table709.Jun = Table709.Jun.astype(float)
Table709.Jul = Table709.Jul.astype(float)
Table709.Aug = Table709.Aug.astype(float)
Table709.Sept = Table709.Sept.astype(float)
Table709.Oct = Table709.Oct.astype(float)
Table709.Nov = Table709.Nov.astype(float)
Table709.Dec = Table709.Dec.astype(float)
Table709.Annual = Table709.Annual.astype(float)

Table709.Jun[1]= 10.33
Table709.Jul[1]= 0.73
Table709.Aug[1]= 2.58
Table709.Sept[1]= 4.01
Table709.Oct[1]= 5.93
Table709.Nov[1]= 1.11
Table709.Dec[1]= 0.20
Table709.Annual[1]= 38.74
Table709.Dec[11]= 11.28
Table709.Annual[11]= 43.25
Table709.Jun[17]= 10.02
Table709.Jul[17]= 0.66
Table709.Aug[17]= 1.10
Table709.Sept[17]= 1.02
Table709.Oct[17]= 2.98
Table709.Nov[17]= 2.72
Table709.Dec[17]= 3.84
Table709.Annual[17]= 43.20
Table709.Jul[22]= 12.41
Table709.Aug[22]= 1.16
Table709.Sept[22]= 3.15
Table709.Oct[22]= 5.51
Table709.Nov[22]= 1.46
Table709.Dec[22]= 3.01
Table709.Annual[22]= 36.43
Table709.May[35]= 12.72
Table709.Jun[35]= 2.95
Table709.Jul[35]= 0.11
Table709.Aug[35]= 0.62
Table709.Sept[35]= 0.59
Table709.Oct[35]= 8.94
Table709.Nov[35]= 4.00
Table709.Dec[35]= 1.99
Table709.Annual[35]= 42.11

Table807 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/807/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table807.Jan = Table807.Jan.astype(float)
Table807.Feb = Table807.Feb.astype(float)
Table807.Mar = Table807.Mar.astype(float)
Table807.Apr = Table807.Apr.astype(float)
Table807.May = Table807.May.astype(float)
Table807.Jun = Table807.Jun.astype(float)
Table807.Jul = Table807.Jul.astype(float)
Table807.Aug = Table807.Aug.astype(float)
Table807.Sept = Table807.Sept.astype(float)
Table807.Oct = Table807.Oct.astype(float)
Table807.Nov = Table807.Nov.astype(float)
Table807.Dec = Table807.Dec.astype(float)
Table807.Annual = Table807.Annual.astype(float)

Table807.Aug[18]= 16.23
Table807.Sept[18]= 1.76
Table807.Oct[18]= 2.85
Table807.Nov[18]= 2.25
Table807.Dec[18]= 0.43
Table807.Annual[18]= 30.43

Table808 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/808/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table808.Jan = Table808.Jan.astype(float)
Table808.Feb = Table808.Feb.astype(float)
Table808.Mar = Table808.Mar.astype(float)
Table808.Apr = Table808.Apr.astype(float)
Table808.May = Table808.May.astype(float)
Table808.Jun = Table808.Jun.astype(float)
Table808.Jul = Table808.Jul.astype(float)
Table808.Aug = Table808.Aug.astype(float)
Table808.Sept = Table808.Sept.astype(float)
Table808.Oct = Table808.Oct.astype(float)
Table808.Nov = Table808.Nov.astype(float)
Table808.Dec = Table808.Dec.astype(float)
Table808.Annual = Table808.Annual.astype(float)

Table808.May[7]= 10.44
Table808.Jun[7]= 9.90
Table808.Jul[7]= 2.00
Table808.Aug[7]= 3.07
Table808.Sept[7]= 1.65
Table808.Oct[7]= 0.23
Table808.Nov[7]= 1.95
Table808.Dec[7]= 1.94
Table808.Annual[7]= 39.12
Table808.Aug[18]= 11.00
Table808.Sept[18]= 1.06
Table808.Oct[18]= 4.94
Table808.Nov[18]= 2.66
Table808.Dec[18]= 0.59
Table808.Annual[18]= 32.27
Table808.Jul[22]= 16.40
Table808.Aug[22]= 0.68
Table808.Sept[22]= 5.70
Table808.Oct[22]= 7.80
Table808.Nov[22]= 0.94
Table808.Dec[22]= 1.47
Table808.Annual[22]= 40.92
Table808.Jul[27]= 10.48
Table808.Aug[27]= 3.53
Table808.Sept[27]= 3.37
Table808.Oct[27]= 0.69
Table808.Nov[27]= 0.51
Table808.Dec[27]= 0.42
Table808.Annual[27]= 45.42
Table808.May[35]= 13.38
Table808.Jun[35]= 4.17
Table808.Jul[35]= 0.59
Table808.Aug[35]= 1.22
Table808.Sept[35]= 0.37
Table808.Oct[35]= 7.17
Table808.Nov[35]= 4.27
Table808.Dec[35]= 1.47
Table808.Annual[35]= 42.87

Winter606 = []
Winter607 = []
Winter706 = []
Winter707 = []
Winter708 = []
Winter709 = []
Winter807 = []
Winter808 = []

Spring606 = []
Spring607 = []
Spring706 = []
Spring707 = []
Spring708 = []
Spring709 = []
Spring807 = []
Spring808 = []

Summer606 = []
Summer607 = []
Summer706 = []
Summer707 = []
Summer708 = []
Summer709 = []
Summer807 = []
Summer808 = []

Fall606 = []
Fall607 = []
Fall706 = []
Fall707 = []
Fall708 = []
Fall709 = []
Fall807 = []
Fall808 = []


Winter06Avg = []
Spring06Avg = []
Summer06Avg = []
Fall06Avg = []

#Combines the months into seasons from the Tables
for i in range(1,37):
    a = Table606.Mar[i] + Table606.Apr[i] + Table606.May[i]
    b = Table607.Mar[i] + Table607.Apr[i] + Table607.May[i]
    c = Table706.Mar[i] + Table706.Apr[i] + Table706.May[i]
    d = Table707.Mar[i] + Table707.Apr[i] + Table707.May[i]
    e = Table708.Mar[i] + Table708.Apr[i] + Table708.May[i]
    f = Table709.Mar[i] + Table709.Apr[i] + Table709.May[i]
    g = Table807.Mar[i] + Table807.Apr[i] + Table807.May[i]
    h = Table808.Mar[i] + Table808.Apr[i] + Table808.May[i]
    Spring606.insert(i-1,a)
    Spring607.insert(i-1,b)
    Spring706.insert(i-1,c)
    Spring707.insert(i-1,d)
    Spring708.insert(i-1,e)
    Spring709.insert(i-1,f)
    Spring807.insert(i-1,g)
    Spring808.insert(i-1,h)
    i = i + 1

for i in range(1,37):
    a = Table606.Jun[i] + Table606.Jul[i] + Table606.Aug[i]
    b = Table607.Jun[i] + Table607.Jul[i] + Table607.Aug[i]
    c = Table706.Jun[i] + Table706.Jul[i] + Table706.Aug[i]
    d = Table707.Jun[i] + Table707.Jul[i] + Table707.Aug[i]
    e = Table708.Jun[i] + Table708.Jul[i] + Table708.Aug[i]
    f = Table709.Jun[i] + Table709.Jul[i] + Table709.Aug[i]
    g = Table807.Jun[i] + Table807.Jul[i] + Table807.Aug[i]
    h = Table808.Jun[i] + Table808.Jul[i] + Table808.Aug[i]
    Summer606.insert(i-1,a)
    Summer607.insert(i-1,b)
    Summer706.insert(i-1,c)
    Summer707.insert(i-1,d)
    Summer708.insert(i-1,e)
    Summer709.insert(i-1,f)
    Summer807.insert(i-1,g)
    Summer808.insert(i-1,h)
    i = i + 1

for i in range(1,37):
    a = Table606.Sept[i] + Table606.Oct[i] + Table606.Nov[i]
    b = Table607.Sept[i] + Table607.Oct[i] + Table607.Nov[i]
    c = Table706.Sept[i] + Table706.Oct[i] + Table706.Nov[i]
    d = Table707.Sept[i] + Table707.Oct[i] + Table707.Nov[i]
    e = Table708.Sept[i] + Table708.Oct[i] + Table708.Nov[i]
    f = Table709.Sept[i] + Table709.Oct[i] + Table709.Nov[i]
    g = Table807.Sept[i] + Table807.Oct[i] + Table807.Nov[i]
    h = Table808.Sept[i] + Table808.Oct[i] + Table808.Nov[i]
    Fall606.insert(i-1,a)
    Fall607.insert(i-1,b)
    Fall706.insert(i-1,c)
    Fall707.insert(i-1,d)
    Fall708.insert(i-1,e)
    Fall709.insert(i-1,f)
    Fall807.insert(i-1,g)
    Fall808.insert(i-1,h)
    i = i + 1
    
for i in range(1,37):    
    a = Table606.Dec[i-1] + Table606.Jan[i] + Table606.Feb[i]
    b = Table607.Dec[i-1] + Table607.Jan[i] + Table607.Feb[i]
    c = Table706.Dec[i-1] + Table706.Jan[i] + Table706.Feb[i]
    d = Table707.Dec[i-1] + Table707.Jan[i] + Table707.Feb[i]
    e = Table708.Dec[i-1] + Table708.Jan[i] + Table708.Feb[i]
    f = Table709.Dec[i-1] + Table709.Jan[i] + Table709.Feb[i]
    g = Table807.Dec[i-1] + Table807.Jan[i] + Table807.Feb[i]
    h = Table808.Dec[i-1] + Table808.Jan[i] + Table808.Feb[i]
    Winter606.insert(i-1,a)
    Winter607.insert(i-1,b)
    Winter706.insert(i-1,c)
    Winter707.insert(i-1,d)
    Winter708.insert(i-1,e)
    Winter709.insert(i-1,f)
    Winter807.insert(i-1,g)
    Winter808.insert(i-1,h)
    i = i + 1
    
#Linear addition of the selected polygons and an average is taken to get rainfall for our CWA    
for i in range(0,36):
    wtotal = ((Winter606[i] + Winter607[i] + Winter706[i] + Winter707[i] + Winter708[i]
               + Winter709[i] + Winter807[i] + Winter808[i])/8.0)
    sptotal = ((Spring606[i] + Spring607[i] + Spring706[i] + Spring707[i] + Spring708[i]
                + Spring709[i] + Spring807[i] + Spring808[i])/8.0)
    sutotal = ((Summer606[i] + Summer607[i] + Summer706[i] + Summer707[i] + Summer708[i]
                + Summer709[i] + Summer807[i] + Summer808[i])/8.0)
    ftotal = ((Fall606[i] + Fall607[i] + Fall706[i] + Fall707[i] + Fall708[i]
               + Fall709[i] + Fall807[i] + Fall808[i])/8.0)
    Winter06Avg.insert(i, wtotal)
    Spring06Avg.insert(i, sptotal)
    Summer06Avg.insert(i, sutotal)
    Fall06Avg.insert(i, ftotal)
    i = i + 1

df1 = pd.DataFrame({'Winter': Winter06Avg})
df2 = pd.DataFrame({'Spring': Spring06Avg})
df3 = pd.DataFrame({'Summer': Summer06Avg})
df4 = pd.DataFrame({'Fall': Fall06Avg})

dftot = pd.concat([df1, df2, df3, df4], axis=1)
dftot.to_csv('LCRA CD06 Approx.csv')






#CD07

#Tablexxx(x), where xxx(x) is a number, refers to quadrilaterals defined by LCRA
#Defining the column headers and importing rainfall data directly from LCRA
#the delimiter changes throughout the table so I made it a space and then skipped rows that did not have data
user_cols = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec', 'Annual']
user_cols2 = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
Table710 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/710/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table710.Jan = Table710.Jan.astype(float)
Table710.Feb = Table710.Feb.astype(float)
Table710.Mar = Table710.Mar.astype(float)
Table710.Apr = Table710.Apr.astype(float)
Table710.May = Table710.May.astype(float)
Table710.Jun = Table710.Jun.astype(float)
Table710.Jul = Table710.Jul.astype(float)
Table710.Aug = Table710.Aug.astype(float)
Table710.Sept = Table710.Sept.astype(float)
Table710.Oct = Table710.Oct.astype(float)
Table710.Nov = Table710.Nov.astype(float)
Table710.Dec = Table710.Dec.astype(float)
Table710.Annual = Table710.Annual.astype(float)

pd.options.mode.chained_assignment = None

#the spacing throughout the table got messed up if a value was 4 digits so I had to manually enter these
Table710.Jun[1]= 10.08
Table710.Jul[1]= 2.16
Table710.Aug[1]= 2.40
Table710.Sept[1]= 3.60
Table710.Oct[1]= 5.69
Table710.Nov[1]= 1.18
Table710.Dec[1]= 0.40
Table710.Annual[1]= 38.44
Table710.Dec[11]= 11.64
Table710.Annual[11]= 51.00
Table710.Oct[18]= 10.45
Table710.Nov[18]= 4.28
Table710.Dec[18]= 1.95
Table710.Annual[18]= 39.00
Table710.Jun[24]= 10.66
Table710.Jul[24]= 1.80
Table710.Aug[24]= 3.48
Table710.Sept[24]= 1.08
Table710.Oct[24]= 6.72
Table710.Nov[24]= 10.01
Table710.Dec[24]= 0.59
Table710.Annual[24]= 51.88
Table710.May[35]= 14.12
Table710.Jun[35]= 4.61
Table710.Jul[35]= 0.44
Table710.Aug[35]= 0.70
Table710.Sept[35]= 1.03
Table710.Oct[35]= 13.03
Table710.Nov[35]= 4.04
Table710.Dec[35]= 2.99
Table710.Annual[35]= 54.89

Table809 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/809/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table809.Jan = Table809.Jan.astype(float)
Table809.Feb = Table809.Feb.astype(float)
Table809.Mar = Table809.Mar.astype(float)
Table809.Apr = Table809.Apr.astype(float)
Table809.May = Table809.May.astype(float)
Table809.Jun = Table809.Jun.astype(float)
Table809.Jul = Table809.Jul.astype(float)
Table809.Aug = Table809.Aug.astype(float)
Table809.Sept = Table809.Sept.astype(float)
Table809.Oct = Table809.Oct.astype(float)
Table809.Nov = Table809.Nov.astype(float)
Table809.Dec = Table809.Dec.astype(float)
Table809.Annual = Table809.Annual.astype(float)

Table809.Dec[11]= 13.35
Table809.Annual[11]= 45.72
Table809.Jun[17]= 10.63
Table809.Jul[17]= 0.45
Table809.Aug[17]= 1.41
Table809.Sept[17]= 1.18
Table809.Oct[17]= 4.59
Table809.Nov[17]= 2.14
Table809.Dec[17]= 2.87
Table809.Annual[17]= 40.64
Table809.Oct[18]= 12.39
Table809.Nov[18]= 3.58
Table809.Dec[18]= 0.71
Table809.Annual[18]= 39.83
Table809.Jul[22]= 15.03
Table809.Aug[22]= 1.02
Table809.Sept[22]= 6.89
Table809.Oct[22]= 8.44
Table809.Nov[22]= 2.41
Table809.Dec[22]= 3.41
Table809.Annual[22]= 45.64
Table809.Jun[24]= 10.23
Table809.Jul[24]= 1.46
Table809.Aug[24]= 3.05
Table809.Sept[24]= 1.99
Table809.Oct[24]= 6.13
Table809.Nov[24]= 9.69
Table809.Dec[24]= 0.15
Table809.Annual[24]= 49.51
Table809.Jul[27]= 12.11
Table809.Aug[27]= 6.21
Table809.Sept[27]= 2.43
Table809.Oct[27]= 0.85
Table809.Nov[27]= 0.84
Table809.Dec[27]= 0.38
Table809.Annual[27]= 51.82
Table809.May[35]= 11.75
Table809.Jun[35]= 4.38
Table809.Jul[35]= 0.52
Table809.Aug[35]= 0.78
Table809.Sept[35]= 0.88
Table809.Oct[35]= 8.74
Table809.Nov[35]= 3.18
Table809.Dec[35]= 1.54
Table809.Annual[35]= 46.01

Table810 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/810/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table810.Jan = Table810.Jan.astype(float)
Table810.Feb = Table810.Feb.astype(float)
Table810.Mar = Table810.Mar.astype(float)
Table810.Apr = Table810.Apr.astype(float)
Table810.May = Table810.May.astype(float)
Table810.Jun = Table810.Jun.astype(float)
Table810.Jul = Table810.Jul.astype(float)
Table810.Aug = Table810.Aug.astype(float)
Table810.Sept = Table810.Sept.astype(float)
Table810.Oct = Table810.Oct.astype(float)
Table810.Nov = Table810.Nov.astype(float)
Table810.Dec = Table810.Dec.astype(float)
Table810.Annual = Table810.Annual.astype(float)

Table810.Jun[7]= 13.36
Table810.Jul[7]= 2.00
Table810.Aug[7]= 1.64
Table810.Sept[7]= 2.85
Table810.Oct[7]= 0.60
Table810.Nov[7]= 3.92
Table810.Dec[7]= 2.93
Table810.Annual[7]= 42.94
Table810.Dec[11]= 10.98
Table810.Annual[11]= 49.30
Table810.Oct[14]= 10.01
Table810.Nov[14]= 0.71
Table810.Dec[14]= 5.11
Table810.Annual[14]= 41.44
Table810.Oct[18]= 15.41
Table810.Nov[18]= 5.43
Table810.Dec[18]= 1.95
Table810.Annual[18]= 49.03
Table810.Jun[24]= 10.09
Table810.Jul[24]= 2.09
Table810.Aug[24]= 2.06
Table810.Sept[24]= 2.12
Table810.Oct[24]= 6.92
Table810.Nov[24]= 9.94
Table810.Dec[24]= 0.27
Table810.Annual[24]= 50.24
Table810.Jul[27]= 11.18
Table810.Aug[27]= 2.87
Table810.Sept[27]= 1.49
Table810.Oct[27]= 1.55
Table810.Nov[27]= 2.98
Table810.Dec[27]= 0.60
Table810.Annual[27]= 46.86
Table810.May[35]= 10.57
Table810.Jun[35]= 4.48
Table810.Jul[35]= 0.56
Table810.Aug[35]= 0.91
Table810.Sept[35]= 1.40
Table810.Oct[35]= 8.31
Table810.Nov[35]= 2.74
Table810.Dec[35]= 2.37
Table810.Annual[35]= 48.90

Table811 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/811/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table811.Jan = Table811.Jan.astype(float)
Table811.Feb = Table811.Feb.astype(float)
Table811.Mar = Table811.Mar.astype(float)
Table811.Apr = Table811.Apr.astype(float)
Table811.May = Table811.May.astype(float)
Table811.Jun = Table811.Jun.astype(float)
Table811.Jul = Table811.Jul.astype(float)
Table811.Aug = Table811.Aug.astype(float)
Table811.Sept = Table811.Sept.astype(float)
Table811.Oct = Table811.Oct.astype(float)
Table811.Nov = Table811.Nov.astype(float)
Table811.Dec = Table811.Dec.astype(float)
Table811.Annual = Table811.Annual.astype(float)

Table811.Oct[4]= 10.93
Table811.Nov[4]= 2.20
Table811.Dec[4]= 3.91
Table811.Annual[4]= 38.74
Table811.Jun[13]= 12.07
Table811.Jul[13]= 0.28
Table811.Aug[13]= 1.29
Table811.Sept[13]= 1.64
Table811.Oct[13]= 4.67
Table811.Nov[13]= 2.99
Table811.Dec[13]= 2.20
Table811.Annual[13]= 52.27
Table811.Oct[14]= 14.36
Table811.Nov[14]= 1.47
Table811.Dec[14]= 5.37
Table811.Annual[14]= 53.15
Table811.Oct[18]= 11.90
Table811.Nov[18]= 8.09
Table811.Dec[18]= 2.96
Table811.Annual[18]= 52.76
Table811.Jun[24]= 12.12
Table811.Jul[24]= 1.68
Table811.Aug[24]= 2.24
Table811.Sept[24]= 2.51
Table811.Oct[24]= 5.15
Table811.Nov[24]= 14.93
Table811.Dec[24]= 0.74
Table811.Annual[24]= 62.12
Table811.Jul[27]= 11.06
Table811.Aug[27]= 6.21
Table811.Sept[27]= 1.74
Table811.Oct[27]= 3.54
Table811.Nov[27]= 4.52
Table811.Dec[27]= 1.23
Table811.Annual[27]= 58.30



Table910 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/910/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 59],
                     names=user_cols)

Table910.Jan = Table910.Jan.astype(float)
Table910.Feb = Table910.Feb.astype(float)
Table910.Mar = Table910.Mar.astype(float)
Table910.Apr = Table910.Apr.astype(float)
Table910.May = Table910.May.astype(float)
Table910.Jun = Table910.Jun.astype(float)
Table910.Jul = Table910.Jul.astype(float)
Table910.Aug = Table910.Aug.astype(float)
Table910.Sept = Table910.Sept.astype(float)
Table910.Oct = Table910.Oct.astype(float)
Table910.Nov = Table910.Nov.astype(float)
Table910.Dec = Table910.Dec.astype(float)
Table910.Annual = Table910.Annual.astype(float)

Table910.Jun[7]= 10.05
Table910.Jul[7]= 3.38
Table910.Aug[7]= 1.39
Table910.Sept[7]= 2.26
Table910.Oct[7]= 0.96
Table910.Nov[7]= 3.75
Table910.Dec[7]= 2.13
Table910.Annual[7]= 35.59
Table910.Jul[27]= 14.67
Table910.Aug[27]= 3.82
Table910.Sept[27]= 2.71
Table910.Oct[27]= 1.25
Table910.Nov[27]= 0.89
Table910.Dec[27]= 0.35
Table910.Annual[27]= 47.16
Table910.Sept[30]= 11.99
Table910.Oct[30]= 0.04
Table910.Nov[30]= 1.60
Table910.Dec[30]= 0.78
Table910.Annual[30]= 41.85


Table1010 = pd.read_table('http://midgewater.twdb.texas.gov/evaporation/quadrangle/1010/precipitation-tabular.txt', header=None, 
                      skiprows=44, sep= ' ', usecols=[8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56], 
                         names=user_cols2)

#formatting for this table is messed up due to the quadrangle being 4 digits
#I would have to manually input nearly every annual value, so I neglected these
Table1010.Jan = Table1010.Jan.astype(float)
Table1010.Feb = Table1010.Feb.astype(float)
Table1010.Mar = Table1010.Mar.astype(float)
Table1010.Apr = Table1010.Apr.astype(float)
Table1010.May = Table1010.May.astype(float)
Table1010.Jun = Table1010.Jun.astype(float)
Table1010.Jul = Table1010.Jul.astype(float)
Table1010.Aug = Table1010.Aug.astype(float)
Table1010.Sept = Table1010.Sept.astype(float)
Table1010.Oct = Table1010.Oct.astype(float)
Table1010.Nov = Table1010.Nov.astype(float)
Table1010.Dec = Table1010.Dec.astype(float)


Table1010.Aug[0]= 12.56
Table1010.Sept[0]= 4.19
Table1010.Oct[0]= 0.83
Table1010.Nov[0]= 3.32
Table1010.Dec[0]= 0.24
Table1010.Oct[17]= 15.36
Table1010.Nov[17]= 2.50
Table1010.Dec[17]= 0.18
Table1010.Sept[23]= 12.35
Table1010.Oct[23]= 4.61
Table1010.Nov[23]= 1.73
Table1010.Dec[23]= 0.68
Table1010.Jul[27]= 13.22
Table1010.Aug[27]= 3.82
Table1010.Sept[27]= 3.90
Table1010.Oct[27]= 1.57
Table1010.Nov[27]= 0.86
Table1010.Dec[27]= 0.36
Table1010.Sept[30]= 12.84
Table1010.Oct[30]= 0.01
Table1010.Nov[30]= 0.69
Table1010.Dec[30]= 0.35
Table1010.May[35]= 10.08
Table1010.Jun[35]= 3.99
Table1010.Jul[35]= 1.60
Table1010.Aug[35]= 0.90
Table1010.Sept[35]= 4.64
Table1010.Oct[35]= 5.49
Table1010.Nov[35]= 1.57
Table1010.Dec[35]= 0.88

Winter710 = []
Winter809 = []
Winter810 = []
Winter811 = []
Winter910 = []
Winter1010 = []


Spring710 = []
Spring809 = []
Spring810 = []
Spring811 = []
Spring910 = []
Spring1010 = []


Summer710 = []
Summer809 = []
Summer810 = []
Summer811 = []
Summer910 = []
Summer1010 = []


Fall710 = []
Fall809 = []
Fall810 = []
Fall811 = []
Fall910 = []
Fall1010 = []


Winter07Avg = []
Spring07Avg = []
Summer07Avg = []
Fall07Avg = []

#Combines the months into seasons from the Tables
for i in range(1,37):
    a = Table710.Mar[i] + Table710.Apr[i] + Table710.May[i]
    b = Table809.Mar[i] + Table809.Apr[i] + Table809.May[i]
    c = Table810.Mar[i] + Table810.Apr[i] + Table810.May[i]
    d = Table811.Mar[i] + Table811.Apr[i] + Table811.May[i]
    e = Table910.Mar[i] + Table910.Apr[i] + Table910.May[i]
    f = Table1010.Mar[i] + Table1010.Apr[i] + Table1010.May[i]
    Spring710.insert(i-1,a)
    Spring809.insert(i-1,b)
    Spring810.insert(i-1,c)
    Spring811.insert(i-1,d)
    Spring910.insert(i-1,e)
    Spring1010.insert(i-1,f)
    i = i + 1

for i in range(1,37):
    a = Table710.Jun[i] + Table710.Jul[i] + Table710.Aug[i]
    b = Table809.Jun[i] + Table809.Jul[i] + Table809.Aug[i]
    c = Table810.Jun[i] + Table810.Jul[i] + Table810.Aug[i]
    d = Table811.Jun[i] + Table811.Jul[i] + Table811.Aug[i]
    e = Table910.Jun[i] + Table910.Jul[i] + Table910.Aug[i]
    f = Table1010.Jun[i] + Table1010.Jul[i] + Table1010.Aug[i]
    Summer710.insert(i-1,a)
    Summer809.insert(i-1,b)
    Summer810.insert(i-1,c)
    Summer811.insert(i-1,d)
    Summer910.insert(i-1,e)
    Summer1010.insert(i-1,f)
    i = i + 1

for i in range(1,37):
    a = Table710.Sept[i] + Table710.Oct[i] + Table710.Nov[i]
    b = Table809.Sept[i] + Table809.Oct[i] + Table809.Nov[i]
    c = Table810.Sept[i] + Table810.Oct[i] + Table810.Nov[i]
    d = Table811.Sept[i] + Table811.Oct[i] + Table811.Nov[i]
    e = Table910.Sept[i] + Table910.Oct[i] + Table910.Nov[i]
    f = Table1010.Sept[i] + Table1010.Oct[i] + Table1010.Nov[i]
    Fall710.insert(i-1,a)
    Fall809.insert(i-1,b)
    Fall810.insert(i-1,c)
    Fall811.insert(i-1,d)
    Fall910.insert(i-1,e)
    Fall1010.insert(i-1,f)
    i = i + 1
    
for i in range(1,37):    
    a = Table710.Dec[i-1] + Table710.Jan[i] + Table710.Feb[i]
    b = Table809.Dec[i-1] + Table809.Jan[i] + Table809.Feb[i]
    c = Table810.Dec[i-1] + Table810.Jan[i] + Table810.Feb[i]
    d = Table811.Dec[i-1] + Table811.Jan[i] + Table811.Feb[i]
    e = Table910.Dec[i-1] + Table910.Jan[i] + Table910.Feb[i]
    f = Table1010.Dec[i-1] + Table1010.Jan[i] + Table1010.Feb[i]
    Winter710.insert(i-1,a)
    Winter809.insert(i-1,b)
    Winter810.insert(i-1,c)
    Winter811.insert(i-1,d)
    Winter910.insert(i-1,e)
    Winter1010.insert(i-1,f)
    i = i + 1
    
#Linear addition of the selected polygons and an average is taken to get rainfall for our CWA    
for i in range(0,36):
    wtotal = ((Winter710[i] + Winter809[i] + Winter810[i] + Winter811[i] + Winter910[i] + Winter1010[i])/6.0)
    sptotal = ((Spring710[i] + Spring809[i] + Spring810[i] + Spring811[i] + Spring910[i] + Spring1010[i])/6.0)
    sutotal = ((Summer710[i] + Summer809[i] + Summer810[i] + Summer811[i] + Summer910[i] + Summer1010[i])/6.0)
    ftotal = ((Fall710[i] + Fall809[i] + Fall810[i] + Fall811[i] + Fall910[i] + Fall1010[i])/6.0)
    Winter07Avg.insert(i, wtotal)
    Spring07Avg.insert(i, sptotal)
    Summer07Avg.insert(i, sutotal)
    Fall07Avg.insert(i, ftotal)
    i = i + 1
    
df1 = pd.DataFrame({'Winter': Winter07Avg})
df2 = pd.DataFrame({'Spring': Spring07Avg})
df3 = pd.DataFrame({'Summer': Summer07Avg})
df4 = pd.DataFrame({'Fall': Fall07Avg})

dftot = pd.concat([df1, df2, df3, df4], axis=1)
dftot.to_csv('LCRA CD07 Approx.csv')